<!DOCTYPE HTML>
<html>
<head>
    <title>Todo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>统计</h1>

<h4>今天：<%= today %></h4>

<h4>空：<%= emptyMacs %></h4>

<h4>共<%= macs %></h4>

<h4>所有:<%= allcount %></h4>

</body>
</html>
